/* =============================================================

    Drop Jumbo v2.1
    Simple, mobile-friendly dropdown menus by Chris Ferdinandi.
    http://gomakethings.com

    Free to use under the MIT License.
    http://gomakethings.com/mit/
    
 * ============================================================= */


/* =============================================================
    RESPONSIVE RESET
    Replace with your own.
 * ============================================================= */

@-webkit-viewport { width: device-width; zoom: 1.0; }
   @-moz-viewport { width: device-width; zoom: 1.0; }
    @-ms-viewport { width: device-width; zoom: 1.0; }
     @-o-viewport { width: device-width; zoom: 1.0; }
        @viewport { width: device-width; zoom: 1.0; }

html { overflow-y: auto; }

img, audio, video, canvas { max-width: 100%; }





/* =============================================================
    DROP JUMBO
    Jumbo dropdown styling.
 * ============================================================= */

/*  Display a caret after each dropdown link.
 *  You can remove this or change it to a different symbol. 
 *  (For example, a "+" symbol.) */
.js .dropdown > a:after {
    content: " \25bc";
    font-size: .8em;
}

/*  When a dropdown is active, display a caret pointing up instead.
 *  You can remove this or change it to a different symbol. 
 *  (For example, a "-" symbol.) */
.js .dropdown > a.active:after {
    content: " \25b2";
}

/*  Styling for the dropdown content.
 *  Hides the content by default. */
.dropdown-menu {
    position: absolute;
    display: none;
    visibility: hidden;
    float: left;
    right: 0;
    width: 100%;
    margin-top: .470588235em;
    text-align: left;
    background-color: #f4f4f4;
    z-index: 1000;
}

/*  When a dropdown is active, display it. */
.dropdown-menu.active {
    display: block;
    visibility: visible;
    padding-top: 1.529411765em;
    padding-bottom: 1.529411765em; 
}

/*  Optional small screen styling for use
 *  with collapse-and-toggle navigation menus.
 *  Learn more - http://cferdinandi.github.com/astro/ */
@media (max-width: 40em) {

    /*  Switch dropdown content to relative positioning.
     *  Add a border-radius. */
    .js .dropdown-menu {
        position: relative;
        float: none;
        border-radius: .235294118em;
    }

    /*  Add padding to active dropdown content */
    .js .dropdown-menu.active {
        padding: .470588235em;
    }

    /*  If using the .container class for 
     *  dropdown content, give it a width of 100%. */
    .js .dropdown-menu .container {
        width: 100%;
    }
    
}





/* =============================================================
    THE GRID
    Included in Kraken (http://cferdinandi.github.io/kraken/).
    Not required. Feel free to use your own.
 * ============================================================= */

/*  Mobile-first. Single-column layout by default
 *  Container sets the maximum page width. Adjust as needed. */
.container { 
    max-width: 40em;
    width: 88%;
    margin-left: auto; 
    margin-right: auto;
}


/*  Still mostly single-column.
 *  Grid-third, grid-half, and grid-img 
 *  provide sub-gridding on smaller screens.  */
@media (min-width: 30em) {

	.row {
        margin-left: -1.515151515152%;
        margin-right: -1.515151515152%;
	}

    [class^="grid-"], 
    [class*=" grid-"] {
        float: left;
        width:96.969696969697%;
        margin-left: 1.515151515152%;
        margin-right: 1.515151515152%;
    }

    .grid-third {
        width: 30.30303030303%;
    }

    .grid-half,
    .grid-img {
        width: 46.969696969697%;
    }

    /*  Reverses order of grid for content choreography */
    .grid-flip {
        float: right;
    }

}


/*  6-column grid  */
@media (min-width: 40em) {

    .grid-1 {
        width: 13.636363636364%;
    }

    .grid-2,
    .grid-third,
    .grid-img {
        width: 30.30303030303%;
    }

    .grid-3,
    .grid-half { 
        width: 46.969696969697%;
    }

    .grid-4 { 
        width: 63.636363636364%;
    }

    .grid-5 { 
        width: 80.30303030303%;
    }

    .grid-6,
    .grid-full { 
        width: 96.969696969697%;
    }


    /*  Offets let you shift grid elements to the right 
     *  but stay aligned to the grid. */
    .offset-1 {
        margin-left: 18.181818181818%;
    }

    .offset-2 {
        margin-left: 34.848484848485%;
    }

    .offset-3 {
        margin-left: 51.515151515152%;
    }

    .offset-4 {
        margin-left: 68.181818181818%;
    }

    .offset-5 {
        margin-left: 84.848484848485%;
    }

}


/*  Additional gridding for grid-img on bigger screens.
 *  Adjust as needed. */
@media (min-width: 40em) {
    .grid-img {
        width: 13.636363636364%;
    }
}


/*  Clearfix */

.container:before, .container:after, 
.row:before, .row:after { 
    display: table; 
    content: ""; 
    zoom: 1; 
}

.container:after, 
.row:after { 
    clear: both; 
}
