/* =============================================================

	Kraken Grid v3.1
	The grid system from Kraken, a lightweight front-end boilerplate by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/* =============================================================
	THE GRID
	Structure and layout.
 * ============================================================= */

/* Add box sizing to everything
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Mobile-first. Single-column layout by default
 *  Container sets the maximum page width. Adjust as needed. */
.container {
  max-width: 40em;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/*  Still mostly single-column.
 *  Option to activate grid on small screens.
 *  Two-column layout for .grid-img. */
@media (min-width: 20em) {
  .row {
    margin-left: -1.4%;
    margin-right: -1.4%;
  }

  .grid-fourth,
  .grid-third,
  .grid-half,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-full,
  .grid-img {
    float: left;
    width: 100%;
    padding-left: 1.4%;
    padding-right: 1.4%;
  }

  /*  Reverses order of grid for content choreography */
  .grid-flip {
    float: right;
  }

  /*  Optionally show grid for small screens */
  .row-start-xsmall .grid-fourth {
    width: 25%;
  }

  .row-start-xsmall .grid-third {
    width: 33.33333333333%;
  }

  .row-start-xsmall .grid-half,
  .grid-img {
    width: 50%;
  }

  .row-start-xsmall .grid-two-thirds {
    width: 66.666666666667%;
  }

  .row-start-xsmall .grid-three-fourths {
    width: 75%;
  }
}
/*  Still mostly single-column.
 *  Option to activate grid on medium screens.
 *  Three-column layout for .grid-img. */
@media (min-width: 30em) {
  /*  Show grid for small screens */
  .row-start-small .grid-fourth {
    width: 25%;
  }

  .row-start-small .grid-third,
  .grid-img {
    width: 33.33333333333%;
  }

  .row-start-small .grid-half {
    width: 50%;
  }

  .row-start-small .grid-two-thirds {
    width: 66.666666666667%;
  }

  .row-start-small .grid-three-fourths {
    width: 75%;
  }
}
/*  Full 6-column grid.
 *  Four-column layout for .grid-img. */
@media (min-width: 40em) {
  .grid-fourth,
  .grid-img {
    width: 25%;
  }

  .grid-third {
    width: 33.33333333333%;
  }

  .grid-half {
    width: 50%;
  }

  .grid-two-thirds {
    width: 66.666666666667%;
  }

  .grid-three-fourths {
    width: 75%;
  }

  /*  Offets let you shift grid elements to the right
   *  but stay aligned to the grid. */
  .offset-fourth {
    margin-left: 25%;
  }

  .offset-third {
    margin-left: 33.33333333333%;
  }

  .offset-half {
    margin-left: 50%;
  }

  .offset-two-thirds {
    margin-left: 66.666666666667%;
  }

  .offset-three-fourths {
    margin-left: 75%;
  }
}

/*  Clearfix */
.row:before,
.row:after {
  display: table;
  content: "";
}

.row:after {
  clear: both;
}