/**
 * Dropdown links
 */
.dropdown-jumbo {
	& > a:after {
		content: "+";
		display: inline-block;
		margin-left: calc-em(4px);
		width: calc-em(8px);

		.js-astro.js-drop & {
			@media (max-width: $bp-medium) {
				content: "";
			}
		}
	}

	@media (max-width: $bp-medium) {
		.js-astro.js-drop & > a {
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	.no-js-drop &:hover > a:after,
	.js-drop & > a.active:after {
		content: "\2013";
	}
}


/**
 * Dropdown content
 */
.dropdown-menu-jumbo {
	background-color: lighten( $color-gray-light, 6% );
	display: none;
	float: left;
	padding-top: calc-em(24px);
	padding-bottom: calc-em(24px);
	position: absolute;
	right: 0;
	text-align: left;
	visibility: hidden;
	width: 100%;
	z-index: 1000;

	.js-drop & {
		margin-top: calc-em(8px);
	}

	.js-astro.js-drop & {
		@media (max-width: $bp-medium) {
			margin-top: 0;
		}
	}

	/**
	 * Switch up styling on small viewports
	 */
	@media (max-width: $bp-medium) {
		.js-astro.js-drop & {
			background-color: transparent;
			display: block;
			float: none;
			margin-left: calc-em(24px);
			position: static;
			visibility: visible;
		}

		/**
		 * For use with the Kraken Grid.
		 * If using the .container class for dropdown content, give it a width of 100%.
		 */
		.container {
			width: 100%;
		}
	}

	.no-js-drop .dropdown-jumbo:hover &,
	&.active {
		display: block;
		visibility: visible;
	}
}