/**
 * Dropdown links
 */
.dropdown-basic {
	position: relative;

	& > a:after {
		content: "+";
		display: inline-block;
		margin-left: calc-em(4px);
		width: calc-em(8px);

		.js-astro.js-drop & {
			@media (max-width: $bp-medium) {
				content: "";
			}
		}
	}

	@media (max-width: $bp-medium) {
		.js-astro.js-drop & > a {
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	.no-js-drop &:hover > a:after,
	.js-drop & > a.active:after {
		content: "\2013";
	}
}


/**
 * Dropdown content
 */
.dropdown-menu-basic {
	background-color: $color-white;
	border: calc-em(1px) solid lighten( $color-gray-dark, 22% );
	border-radius: calc-em(1px);
	box-shadow: 0 calc-em(4px) calc-em(8px) rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display: none;
	float: left;
	margin-left: 0;
	min-width: 10em;
	padding-top: calc-em(8px);
	padding-bottom: calc-em(8px);
	position: absolute;
	right: 0;
	text-align: left;
	top: 100%;
	visibility: hidden;
	z-index: 1000;

	.js-drop & {
		margin-top: calc-em(8px);
	}

	.js-astro.js-drop & {
		@media (max-width: $bp-medium) {
			margin-top: 0;
		}
	}

	ul,
	ol {
		list-style: none;
		margin-left: 0;
	}

	a {
		display: block;
		padding-left: calc-em(8px);
		padding-right: calc-em(8px);
	}

	/**
	 * Switch up styling on JS-supported small viewports
	 */
	@media (max-width: $bp-medium) {
		.js-astro.js-drop & {
			background-color: transparent;
			border: none;
			box-shadow: none;
			display: block;
			float: none;
			margin-left: calc-em(24px);
			position: static;
			visibility: visible;

			&.active {
				padding: 0;
			}


		}
	}

	.no-js-drop .dropdown-basic:hover &,
	&.active {
		display: block;
		visibility: visible;
	}
}