/**
 * Set dropdown link to relative positioning
 */
.dropdown-basic {
	position: relative;
}


/**
 * Styling for expand/collapse icons
 */

.dropdown-basic > a .dropdown-show,
.dropdown-basic > a .dropdown-hide,
.drop .dropdown-basic > a.active .dropdown-show {
	display: none;
	visibility: hidden;
	width: 0.5em;
}

.drop .dropdown-basic > a .dropdown-show,
.drop .dropdown-basic > a.active .dropdown-hide {
	display: inline-block;
	visibility: visible;
}

/**
 * Dropdown styles
 */
.dropdown-menu-basic {
	position: absolute;
	top: 100%;
	display: none;
	visibility: hidden;
	float: left;
	min-width: 10em;
	margin-top: calc-em(8px);
	margin-left: 0;
	text-align: left;
	border: calc-em(1px) solid lighten( $color-gray-dark, 22% );
	background-color: $color-white;
	z-index: 1000;
	border-radius: calc-em(1px);
	box-shadow: 0 calc-em(4px) calc-em(8px) rgba(0, 0, 0, 0.2);
	box-sizing: border-box;

	/**
	 * Switch dropdown content to relative positioning.
	 * Remove styling.
	 */
	@media (max-width: $bp-medium) {
		.drop & {
			position: relative;
			float: none;
			min-width: 100%;
			background-color: lighten( $color-gray-light, 6% );
			border: none;
			box-shadow: none;
		}
	}

	/**
	 * Adjust lists
	 */
	ul,
	ol {
		margin-left: 0;
		list-style: none;
	}

	/**
	 * Show when active
	 */
	&.active {
		display: block;
		visibility: visible;
		padding: calc-em(8px);
	}

	/**
	 * Align dropdown to the right
	 */
	&.dropdown-right {
		right: 0;
		left: auto;
	}
}