/**
 * Expand/collapse icons
 */

.dropdown-jumbo > a .dropdown-show,
.dropdown-jumbo > a .dropdown-hide,
.js-drop .dropdown-jumbo > a.active .dropdown-show {
    display: none;
    visibility: hidden;
    width: 0.5em;
}

.js-drop .dropdown-jumbo > a .dropdown-show,
.js-drop .dropdown-jumbo > a.active .dropdown-hide {
    display: inline-block;
    visibility: visible;

    @media (max-width: $bp-medium) {
    	display: none;
    	visibility: hidden;
    }
}


/**
 * Dropdown content
 */
.dropdown-menu-jumbo {
	position: absolute;
	display: none;
	visibility: hidden;
	float: left;
	right: 0;
	width: 100%;
	margin-top: calc-em(8px);
	text-align: left;
	background-color: lighten( $color-gray-light, 6% );
	z-index: 1000;

	&.active {
		display: block;
		padding-top: calc-em(24px);
		padding-bottom: calc-em(24px);
		visibility: visible;
	}

	/**
	 * Switch up styling on small viewports
	 */
	@media (max-width: $bp-medium) {
		.js-drop & {
			background-color: transparent;
			border-radius: calc-em(4px);
			display: block;
			float: none;
			padding-left: calc-em(16px);
			position: static;
			visibility: visible;
		}

		/**
		 * For use with the Kraken Grid.
		 * If using the .container class for dropdown content, give it a width of 100%.
		 */
		.container {
			width: 100%;
		}
	}
}