/* =============================================================

	Astro Navbar Plus 3.5
	Mobile-first navigation patterns by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Center all navigation elements */
.nav-wrap {
  text-align: center;
}

/*  For text-based logo, override default link styling.
 *  If .logo and .nav don't align properly,
 *  adjust the .logo line-height. */
.logo {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 0.5em;
  text-decoration: none;
}

/*  For text-based logo, override default link hover styling */
.logo:hover {
  color: #272727;
  text-decoration: none;
}

/*  Remove default list styling for navigation list */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  Display navigation items as inline-block elements.
 *  Add slight margin between each navigation item. */
.nav > li {
  display: inline-block;
  float: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*  Remove margin-left on first navigation item */
.nav > li:first-child {
  margin-left: 0;
}

/*  Remove margin-right on last navigation item */
.nav > li:last-child {
  margin-right: 0;
}

/*  Placeholder for active link styling */
/*  .nav > li.active > a { */
/*      Add your styles here */
/*  } */
/*  Hide the navigation toggle menu button by default.
 *  Only needed for expand-and-collapse option. */
.nav-toggle {
  display: none;
  visibility: hidden;
}

/*  Expand-and-Collapse styling for smaller screens.
 *  Remove if not using.
 *  Change max-width to fit your project. */
@media (max-width: 40em) {
  /*  .js prefix ensure content is only hidden when JavaScript is supported.
   *  This requires on the included js-accessibility.js script. */
  /*  Align text to the left when javascript is supported */
  .js .nav-wrap {
    text-align: left;
  }

  /*  Float logo to the left when javascript is supported */
  .js .logo {
    float: left;
  }

  /*  Display navigation toggle button if javascript is supported */
  .js .nav-toggle {
    display: block;
    visibility: visible;
    float: right;
  }

  /*  Hide navigation items if javascript is supported */
  .js .nav-collapse {
    max-height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*  CSS3 animation for when menu content expands */
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
  }

  /*  When collapsed element has the .active class, show it
   *  Uses max-height instead of display: none to allow for
   *  CSS3 animations, which don't work on display values. */
  .js .nav-collapse.active {
    max-height: 999em;
  }

  .js .nav {
    text-align: left;
  }

  /*  Display navigation items as full-width, stacked blocks when javascript supported */
  .js .nav-collapse li {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
/*  Styling for Bigger Screens.
 *  (Astro is built mobile-first.)
 *  Change min-width to fit your project. */
@media (min-width: 40em) {
  /*  Align text to the left */
  .nav-wrap {
    text-align: left;
  }

  /*  Float logo to the left and remove margin-bottom */
  .logo {
    float: left;
  }

  /*  Align navigation elements to the right */
  .nav {
    text-align: right;
  }
}
/*  Clearfix */
.nav-wrap:before, .nav-wrap:after {
  display: table;
  content: "";
  *zoom: 1;
}

.nav-wrap:after {
  clear: both;
}
